<header>
<nav class="level">
  <p class="level-item has-text-centered">
    <a class="link is-info" href="index.html">Главная</a>
  </p>
  
  <p class="level-item has-text-centered">
    <img src="assets/img/logo.png" alt="" style="height: 30px;">
  </p>
  <p class="level-item has-text-centered">
    <a class="link is-info" href="index.html">Здоровье</a>
  </p>
  <p class="level-item has-text-centered">
    <a class="link is-info">Еда</a>
  </p>
  <p class="level-item has-text-centered">
    <a class="link is-info" href="index-ev.html">Если у вас:</a>
  </p>
  <p class="level-item has-text-centered">
    <a class="link is-info">Библиотечка</a>
  </p>
  <p class="level-item has-text-centered">
    <a class="link is-info">Блог</a>
  </p>
</nav>
    <!-- Top Container -->
    <section class="top-container">
      <header class="showcase">
       <h1>DokSoS</h1>
        <h1>Осилит дорогу - идущий!</h1>
        <p>Здоровье ещё не всё, но всё без него - НИЧТО! </p>
        
      </header>
      
       <div class="column">
        <div class="container is flip">

  <div class="flipper">
    <div class="front">
      <img src="assets/img/esch-kot.jpg" alt="Удивляемся"><p>Если у вас, если у вас:</p>
      </div>
    <div class="back">
    <h3>Если у вас, если у вас:</h3>
      <p>Рубрика - Молнееносной диагностики и лечения - одной строкой! Просто найдите соответствующую карточку!</p>
      
      
      </div>
      
      </div>
      
      </div>
    </div>
 

    </section> 
</header>
