<hero>
    <div class="columns">
       <div class="column">
        <div class="container is flip">

  <div class="flipper">
    <div class="front">
      <img src="assets/img/esch-kot.jpg" alt="Удивляемся"><p>Если у вас, если у вас:</p>
      </div>
    <div class="back">
      <h3>Если у вас, если у вас:</h3>
      <p>Рубрика - Молнееносной диагностики и лечения - одной строкой! Просто найдите соответствующую карточку!</p>
      <a href="index-ev.html" class="btn">Мчимся...</a>
      </div>
      
      </div>
    </div>
</div> 
<div class="column"> 
<div class="container is flip">

  <div class="flipper">
    <div class="front">
      <img src="assets/img/kuchnya.jpeg" alt=""><p>Есть или не есть, вот в чем -?</p>
      </div>
    <div class="back">
      <h3>Еда</h3>
      <p>Здесь собирается не просто коллекция рецептов еды, а рассказывается о её воздействии на наш организм, с точек зрения пользы или вреда. </p>
      <a href="#" class="btn">Заглянуть</a>
      </div>
      
    </div>
    </div>
</div> 
<div class="column">
<div class="container">

  <div class="flipper">
    <div class="front">
      <img src="assets/img/biblio.jpg" alt="">
      <p>Важно не сколько, а что...</p>
      
      </div>
    <div class="back">
      <h3>Библиотечка</h3>
      <p>Читай, смотри, слушай!<br> Есть чем поделиться?<br> Пригоняй ссылку! Прикиним, покурим, да и опубликуем. <br> Наслаждайтесь! </p>
      <a href="#" class="btn">Заглянуть</a>
      </div>
      
    </div>
    </div>
    
</div> 

  <div class="column">
<div class="container">

  <div class="flipper">
    <div class="front">
      
      <img src="assets/img/blog.jpg" alt="">
      <p>Ясно.., что идеи хакаю!</p>
      </div>
    <div class="back">
      <h3>Блог</h3>
      <p>Родились слова!<br> И стали все плагиатами! А как иначе, ведь у нас лишь 33 буквы. А в музыке то и вовсе 7 нот, а СЛАВы - хотца всем!
      <a href="#" class="btn">Скоро... скоро...</a> </p>
      </div>
      
    </div>
    </div>
        </div>
        </div></hero>