<hero>
    <div class="columns">
       <div class="column">
        <div class="container is flip">

  <div class="flipper">
    <div class="front">
      <img src="assets/img/zdorov.jpeg" alt="Здоровье, это просто"><p>Об чем пойдет речь?</p>
      </div>
    <div class="back">
     <h3>Здоровье</h3>
      <a href="">SOS - помощь</a><br>
      <a href="">Как и чем будем лечится?</a><br>
      <a href="">Лечебник острых заболеваний</a><br>
      <a href="">Про Гомеопатию</a><br>
      <a href="">Еда и здоровье</a>
      
      </div>
      
      </div>
    </div>
</div> 
<div class="column"> 
<div class="container is flip">

  <div class="flipper">
    <div class="front">
      <img src="assets/img/kuchnya.jpeg" alt=""><p>Есть или не есть, вот в чем -?</p>
      </div>
    <div class="back">
      <h3>Еда</h3>
      <p>Здесь собирается не просто коллекция рецептов еды, а рассказывается о её воздействии на наш организм, с точек зрения пользы или вреда. </p>
      <a href="#" class="btn">Заглянуть</a>
      </div>
      
    </div>
    </div>
</div> 
<div class="column">
<div class="container">

  <div class="flipper">
    <div class="front">
      <img src="assets/img/biblio.jpg" alt="">
      <p>Важно не сколько, а что...</p>
      
      </div>
    <div class="back">
      <h3>Библиотечка</h3>
      <p>Читай, смотри, слушай!<br> Есть чем поделиться?<br> Пригоняй ссылку! Прикиним, покурим, да и опубликуем. <br> Наслаждайтесь! </p>
      <a href="#" class="btn">Заглянуть</a>
      </div>
      
    </div>
    </div>
    
</div> 

  <div class="column">
<div class="container">

  <div class="flipper">
    <div class="front">
      
      <img src="assets/img/blog.jpg" alt="">
      <p>Ясно.., что идеи хакаю!</p>
      </div>
    <div class="back">
      <h3>Блог</h3>
      <p>Родились слова!<br> И стали все плагиатами! А как иначе, ведь у нас лишь 33 буквы. А в музыке то и вовсе 7 нот, а СЛАВы - хотца всем!
      <a href="#" class="btn">Скоро... скоро...</a> </p>
      </div>
      
    </div>
    </div>
        </div>
        </div></hero>