<section class="info-ev">
       
        
     
   
  
      <div class="columns">
        
        <div class="column is-9">
           <div class="columns">
            <div class="container is flip">
             <div class="flipper">
    <div class="front">
      <img src="assets/img/ukachivaet-v-mashine.jpg" alt="Удивляемся"><p>Укачивает ребенка?</p>
      </div>
    <div class="back">
      <p>Это -"Морская болезнь"</p>
      <p>Идем в гомеоаптеку и берем Петролиум 30с! 3-5 горошен на 100 мл. кипяченой воды, размешиваем стеклянной палочкой</p>
      <a href="index-ev.html" >больше о Петролиум...</a>
      </div>
      
      </div>
              
            </div>
            
            <div class="container is flip">
             <div class="flipper">
    <div class="front">
      <img src="assets/img/esch-kot.jpg" alt="Удивляемся"><p>Если у вас, если у вас:</p>
      </div>
    <div class="back">
      <h3>Если у вас, если у вас:</h3>
      <p>Рубрика - Молнееносной диагностики и лечения - одной строкой! Просто найдите соответствующую карточку!</p>
      <a href="index-ev.html" class="btn">Мчимся...</a>
      </div>
      
      </div>
              
            </div>
            <div class="container is flip">
             <div class="flipper">
    <div class="front">
      <img src="assets/img/esch-kot.jpg" alt="Удивляемся"><p>Если у вас, если у вас:</p>
      </div>
    <div class="back">
      <h3>Если у вас, если у вас:</h3>
      <p>Рубрика - Молнееносной диагностики и лечения - одной строкой! Просто найдите соответствующую карточку!</p>
      <a href="index-ev.html" class="btn">Мчимся...</a>
      </div>
      
      </div>
              
            </div>
        
        </div>
         <div class="columns">
            <div class="container is flip">
             <div class="flipper">
    <div class="front">
      <img src="assets/img/esch-kot.jpg" alt="Удивляемся"><p>Если у вас, если у вас:</p>
      </div>
    <div class="back">
      <h3>Если у вас, если у вас:</h3>
      <p>Рубрика - Молнееносной диагностики и лечения - одной строкой! Просто найдите соответствующую карточку!</p>
      <a href="index-ev.html" class="btn">Мчимся...</a>
      </div>
      
      </div>
              
            </div>
            
            <div class="container is flip">
             <div class="flipper">
    <div class="front">
      <img src="assets/img/esch-kot.jpg" alt="Удивляемся"><p>Если у вас, если у вас:</p>
      </div>
    <div class="back">
      <h3>Если у вас, если у вас:</h3>
      <p>Рубрика - Молнееносной диагностики и лечения - одной строкой! Просто найдите соответствующую карточку!</p>
      <a href="index-ev.html" class="btn">Мчимся...</a>
      </div>
      
      </div>
              
            </div>
            <div class="container is flip">
             <div class="flipper">
    <div class="front">
      <img src="assets/img/esch-kot.jpg" alt="Удивляемся"><p>Если у вас, если у вас:</p>
      </div>
    <div class="back">
      <h3>Если у вас, если у вас:</h3>
      <p>Рубрика - Молнееносной диагностики и лечения - одной строкой! Просто найдите соответствующую карточку!</p>
      <a href="index-ev.html" class="btn">Мчимся...</a>
      </div>
      
      </div>
              
            </div>
        
        </div>
          </div>
        
        <div class="column is-3">
          <h3>ЕСЛИ у ВАС:</h3>
      <!--<a href="main.html">SOS - помощь</a><br>
      <a href="">Как и чем будем лечится?</a><br>
      <a href="">Про Гомеопатию</a><br>-->
      <a href="lechebnik_ostrich_bolesney.html">Лечебник острых заболеваний</a><br>
      <a href="lechmenu/lechebnik.html">Мобильная версия лечебника</a>
       
        </div>
      </div>
      
    </section>