<section class="info">
        
    
       <div>
        <h1>Фашизм против гуманизма</h1>
        <p>1796 год:<br>
          Английский хирург и аптекарь Эдвард Дженнер делает мальчику прививку гноя из оспенного пузырька!<br>А Самуэль Ганеман опубликовал в "Журнале Гуфеланда" свою статью "Опыт нового принципа нахождения целительных свойств лекарственных веществ", положив начало гомеопатии.</p>
        <a href="#" class="btn">Заглянуть</a>
      </div>
      <div >
        <h2>Первая, чисто гомеопатическая клиника где? </h2>
        <p>В стране Аюрведы - Индии! <br>Представляете, никаких аллопатических средств и в догонку - собственная скорая помощь и только с гомеопатическим арсеналом препаратов!<br>
        Представляете, без шприцов, капельниц оказывается безвредная и настоящая - скорая помощь!</p>
        <a href="#" class="btn">Подробности</a>
      </div>
      <div>
        <h2>Почему мы болеем?</h2>
        <p>” В действительности это не бактерия сама вызывает болезнь, а химические составляющие этих микроорганизмов, вызывающих дисбаланс в метаболизме клеток человеческого тела, что и вызывает заболевание. Мы также уверены, что если метаболизм человеческого тела находится в отлично сбалансированном состоянии, то в этом случае оно не восприимчиво к любой болезни.</p>
        <a href="bolesn.html" class="btn">Зайди!</a>
      </div>
    </section>